# Local Docker Compose overrides (not committed — see .gitignore)
AUTH_SECRET=6yuOtU4X6sQnw2BHlFjGO+AMcWvAjjN/XaAs+txG4YZCb8lPUK040Qyne0sfohKe
JWT_SECRET=6glZRNT0yku7GBVgCLtGBRhxay0qm0D8miu64H9kq76lZzJ82EMxVM9n5I5z15G2
