# Node modules
/backend/node_modules/

# Environment variables
/backend/.env
# Ignore uploads
/backend/uploads/
/backend/public/uploads/
/backend/tmp/
# Logs
logs/
*.log

# OS files
/backend/.DS_Store
/backend/Thumbs.db

# Build outputs
/backend/dist/
/backend/build/

# Security
.htpasswd
